{% extends 'base.html'%}



{% block main%}
<p>  CHEET SHEET 3</p>
<h1> shared task guys</h1>
<h2>Just note that as it don't use a database, the tasks will get reset when the server is restarted.</h2>
<p>   PIECE TWO -{% extends "base.html"%}</p>
<p> part three {% block main%}</p>
<p>{% block home%}</p>
<p> free text  this dave nwwcontact using Jinja</p>
<p> part 4    english in her <a href="{{ url_for('task_list')}}">VIEW  task here</a></p>
<p> part 5{% end    block%}</p>
<p>from datastore import data</p>
{% endblock%}